.app-wrapper {
  margin: 0 auto;
  display: grid;

  grid-template-areas:
    "h h"
    "c c"
    "f f";

  grid-template-rows: 150px 500px 150px;
  grid-template-columns: 0fr 10fr 0fr;
}

/* .app-wrapper-content {
  grid-area: c;
  background-color: rgba(18, 129, 136, 1)
} */